[user]
	email = hagzag@tikalk.com
	signingkey = 8EB220859A7ACBA039EC434BD2AD73C8B8194575
	name = Haggai Philip Zagury
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
