*.cache
*.log
*.py[co]
*.swp
.env
.env-*
.TasksTodo.yml
.vscode/settings.json
AWSVPNClient
/AWS\ VPN\ Client
/argocd
/asciinema/
/bash/exports-secret
/chromium*
/configstore/
/containers/
/crossnote/
/fb-client
/gcalcli
/gcloud
/gdrive
/gh/hosts.yml
/github-copilot/
/helm/
/iterm2/AppSupport
/joplin-desktop/
/karabiner/automatic_backups/
/klavaro/
/lazygit/config.yml
/lazygit/state.yml
/litecli/history
/litecli/log
/micro/buffers/
/node_modules
/noti
/openvpn
/rest-client/environment.json
/veonim/extensions/
/veonim/logs/
/vercel/auth.json
/yarn
/zsh/*.zwc
/zsh/.zcompdump
asciinema/install-id
gcloud
k9s/aliases.yaml
k9s/config.yaml
packer/plugins/*
packer/checkpoint_*
pip/pip.conf
pip/pip-org.conf
uv/*
.DS_Store
